@tailwind base;
@tailwind components;
@font-face {
  font-family: "Kalame-Normal";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Kalameh\(FaNum\)-Regular.ttf");
}
@font-face {
  font-family: "Kalame-Bold";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/Kalameh\(FaNum\)-Bold.ttf");
}
* {
  direction: rtl !important;
}
@tailwind utilities;

@layer components {
  .fcenter {
    @apply flex items-center justify-center;
  }
  .fbetween {
    @apply flex items-center justify-between;
  }
  .fstart {
    @apply flex items-center justify-start;
  }
  .mhover {
    @apply hover:opacity-50 duration-300;
  }
  .mtag {
    @apply bg-purple-200 text-purple-500 font-bf text-sm;
  }
}
